<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.dilipsuthar.wallbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
            android:name=".WallBox"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/WallBox.Primary.Base.Light">
        <activity
                android:name=".activity.MainActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- for shortcut menu when long press on app -->
            <meta-data
                    android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />
        </activity>
        <activity
                android:name=".activity.HomeActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="unsplash.com"
                        android:path="/"
                        android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FavoritesActivity" android:parentActivityName=".activity.HomeActivity"/>
        <activity android:name=".activity.SettingsActivity" android:parentActivityName=".activity.HomeActivity"/>
        <activity android:name=".activity.AboutActivity" android:parentActivityName=".activity.HomeActivity"/>
        <activity android:name=".activity.SupportUsActivity" android:parentActivityName=".activity.HomeActivity"/>
        <activity android:name=".activity.PhotoDetailActivity" />
        <activity android:name=".activity.CollectionDetailActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.SearchActivity" android:parentActivityName=".activity.HomeActivity"/>
        <activity android:name=".activity.OpenSourceLicensesActivity" />
        <activity android:name=".activity.MeProfileActivity" android:launchMode="singleTask">
            <!-- schema and callback url config for oauth calling -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="unsplash_auth"
                        android:scheme="wallbox" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="fontProviderRequests"
                android:value="Noto Color Emoji Compat" />
    </application>

</manifest>